# top‑most EditorConfig file
root = true

[*.{cs,vb}]
indent_style = space
indent_size  = 4
charset      = utf-8
end_of_line  = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Nullable reference types, var usage, etc.
#dotnet_diagnostic.IDE0008.severity = warning
dotnet_diagnostic.CS1591.severity = warning
dotnet_style_qualification_for_field        = false:suggestion
dotnet_style_qualification_for_property     = false:suggestion
dotnet_style_qualification_for_method       = false:suggestion
dotnet_style_qualification_for_event        = false:suggestion
